table{
    border: 1px solid black;
}
Itable{
    border-collapse:separate;
    border-width: 2px;
    border-style: double;
    border-spacing: 3px;
}
th
{
    text-align: left;
    padding: 10px;
    background-color: rgb(224, 209, 209);
}
td
{
text-align: center;
padding: 10px;
}
tr:nth-of-type(even) {
    background-color:rgb(99, 155, 15);
  }