#header1 li{
    display: inline-block;

    margin-left:10px;

}
#header1 ul {
    margin-left:60%;
}
#header1 {
   
    margin-right:20px;
    height:20%;
    background-color: rgb(48, 145, 230);
   
  
}

aside{
    float: left;
   
   padding-bottom: 15%;
    margin-top:4%;
    background-color:gray;
}
p{
    column-count: 3;
    column-gap: 40px;
    margin-top:10%;
    padding-left:4%;
}
@media all and (min-width:800px) and (max-width:1200px) {

} 
@media all and (min-width:481px) and (max-width:799px) {

} 
@media all and (max-width:480px) {
p{
    column-count: 1;
}
#header1{
    margin-right:0px;
display: block;
float: left;
}
aside{
    display: none;
}
#header1 ul {
    margin-left:2%;
}
#header1 li{
    display:block;


}
} 