body{
    text-align: center;
}
#localstorage{
     float: left; 
     padding-left: 20%;
}
#sessionstorage{
    float: right; 
    padding-right: 20%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
padding: 15px;
}