div{
    display: block;
    border: 2px dashed palevioletred;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 20px;
}
#first{
    left:120px;
    top:50px;
    background-color:rgb(235, 29, 166);
    z-index: -10;
    
}
#second{
    left:120px;
    top: 150px;
    background-color:rgb(189, 183, 133);
}
#third{
    top: 120px;
    left:80px;
    background:rgb(22, 180, 219);
    z-index: -10;
}